<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/dist/assets/owl.theme.default.min.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>    
    <script src="assets/dist/owl.carousel.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</head>

<body>
    <header>
        <!-- Logo -->
        <div class="header-left">
            <img src="assets/img/logo.png" alt="Logo">
        </div>

        <!-- Barra de Pesquisa -->
        <div class="header-center">
            <div class="search-container">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Pesquise Seu Livro" class="search-box">
            </div>
        </div>

        <!-- Dark Mode -->
        <div class="header-right">
            <div class="switch-container">
                Dark Mode
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>

        <!-- Ícone de Menu com Dropdown -->
        <div class="header-end">
            <div class="menu-container">
                <div class="menu-icon" id="menuButton">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li class="menu-item">
                        <img src="assets/img/user.png" alt="Perfil" class="menu-icon-img"> Perfil
                    </li>
                    <li class="menu-item"><i class="fas fa-book"></i> Empréstimos</li>
                    <li class="menu-item"><i class="fas fa-sync-alt"></i> Histórico</li>
                    <li class="menu-item"><i class="fas fa-sign-out-alt"></i> Sair</li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <h3>Mais Emprestados</h3>
            <div class="owl-carousel owl-theme">
                <div class="item"><img src="assets/img/images (1).jpg" alt=""></div>
                <div class="item"><img src="assets/img/images (2).jpg" alt=""></div>
                <div class="item"><img src="assets/img/images.jpg" alt=""></div>
                <div class="item"><img src="assets/img/livro2.jpg" alt=""></div>
                <div class="item"><img src="assets/img/download.jpg" alt=""></div>
                <div class="item"><img src="assets/img/o-menino-que-nao-sabia-ler_721-cd93d7bfeb34edf26916651663766400-640-0.jpg" alt=""></div>
                <div class="item"><img src="assets/img/livro-aprendendo-a-ler-nivel-2-o-rei-leao-653ff675c0a00.jpg" alt=""></div>
                <div class="item"><img src="assets/img/Dicas-de-Livros_Férias-1-203x300.jpg" alt=""></div>
            </div>
            <div class="row">
                <h3>Destaques</h3>
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="assets/img/images (1).jpg" alt=""></div>
                    <div class="item"><img src="assets/img/images (2).jpg" alt=""></div>
                    <div class="item"><img src="assets/img/images.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/livro2.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/download.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/o-menino-que-nao-sabia-ler_721-cd93d7bfeb34edf26916651663766400-640-0.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/livro-aprendendo-a-ler-nivel-2-o-rei-leao-653ff675c0a00.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/Dicas-de-Livros_Férias-1-203x300.jpg" alt=""></div>
                </div>
            </div>
            <div class="row">
                <h3>Reservados</h3>
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="assets/img/images (1).jpg" alt=""></div>
                    <div class="item"><img src="assets/img/images (2).jpg" alt=""></div>
                    <div class="item"><img src="assets/img/images.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/livro2.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/download.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/o-menino-que-nao-sabia-ler_721-cd93d7bfeb34edf26916651663766400-640-0.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/livro-aprendendo-a-ler-nivel-2-o-rei-leao-653ff675c0a00.jpg" alt=""></div>
                    <div class="item"><img src="assets/img/Dicas-de-Livros_Férias-1-203x300.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </main>
    <div>
        <img class="rodape-img-container" src="assets/img/rodape_biblioteca.jpg" alt="rodape-img">
    </div>

    <footer>
        <div class="model_info">

            <div class="footer-section">
                <h3>Contato</h3>
                <ul>
                    <li><a class="info1" href="#">email: asa.literaria@hotmail.org.br</a></li>
                    <li><a class="info1" href="#">telefone: (15) 2406-1281</a></li>
                    <li><a class="info1" href="#">No Brasil</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Localização</h3>
                <ul>
                    <li><a class="info2" href="#">Birigui - SP</a></li>
                </ul>
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-6">
                <p>Termos de uso do site</p>
            </div>
            <div class="col-6">
                <p>Política e privacidade</p>
            </div>
        </div>

    </footer>
</body>

</html>